<h1><%= @article.title %></h1>

<p>
  Tags:
  <% @article.tags.each do|tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<p>
  <%= image_tag @article.image.url %>
</p>

<p><%= @article.body %></p><br>
<%= link_to "edit", edit_article_path(@article) %>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<br>

<%= render partial: 'comments/form' %>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

<%= link_to "<< Back to Articles List", articles_path, class: 'link_back' %>